.Pagination {
    & {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &__navInfo {
        font-size: 16px;
        color: var(--color-grey-text);
    }
}
