html {
    --color-bg: #1b1f24;

    --color-gray-1: #dbdfe2;
    --color-gray-2: #808386;
    --color-gray-3: #959aa0;
    --color-gray-4: #25292f;
    --color-gray-5: #202429;

    --color-accent: #00b5ff;
    --color-hover: #34c4ff;
    --color-pressed: #0fa9e8;

    --color-yellow: #ffb000;

    --shadow: 20px 50px 15px rgba(26, 31, 39, 0.09),
        10px 15px 40px rgba(26, 31, 39, 0.71);

    --color-border-1: #41464f;
    --color-border-2: #7a7a7a;
    --color-border-3: #8290a4;
    --color-border-4: #ff1f1f;
    --color-border-5: #00b5ff;

    --color-light-text: white;
    --color-grey-text: #888a91;

    --border-radius: 6px;

    --trans-time: 0.5s;
}
