.NumberInput {
    & {
        display: flex;
        align-items: center;
        gap: 6px;
    }
    &__input {
        height: 40px;
        width: 70px;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            display: none;
        }
    }
    &__btn {
        width: 35px;
        height: 35px;

        border: 1px solid var(--color-border-1);
        border-radius: 50%;

        background-color: var(--color-bg);

        font-size: 16px;
        color: var(--color-grey-text);

        cursor: pointer;

        &:hover {
            border-color: var(--color-border-2);
        }
    }
}
