.FilterPanel {
    & {
        width: 300px;
        padding-top: 10px;
        background-color: var(--color-bg);

        overflow: auto;
    }
    &__container {
        width: 100%;
    }
    &__applyBtn {
        width: 280px;
    }
}
