.GoodsPage {
    & {
        margin-top: 10px;

        max-width: 1280px;
        margin: auto;
        padding: 0 10px;
    }
    &__container {
        display: flex;
    }
    &__FilterPanel {
        width: 300px;
    }
    &__FilterPanelBack {
        background-color: rgba(black, 0);
        display: none;
    }
    &__GoodsList {
        width: calc(100% - 300px);
    }
    &__pagintaion {
        padding: 20px 0;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.HeadList {
    &__head {
        height: 50px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    &__sortSelector {
        width: 300px;
        margin-left: 10px;
    }
    &__btnFilter {
        display: none;
    }
}

@media (max-width: 1100px) {
    .HeadList {
        & {
            margin-left: 0;
        }
        &__btnFilter {
            display: block;
            margin-right: 10px;
        }
    }
}

@media (max-width: 1100px) {
    .GoodsPage {
        &_fix {
            height: 100vh;
            overflow-y: hidden;
        }
        &__FilterPanel {
            display: none;

            // &:first-child {

            // }

            &_open {
                display: flex;
                flex-direction: row;

                position: absolute;

                &:first-child {
                    animation: slide 0.5s;
                }

                // &:nth-child(2) {
                //     animation: back 1s;
                // }

                // top: 0;
                // left: 0;

                width: calc(100% - 10px);
                // height: 100vh;
                height: 100%;

                overflow: auto;

                // width: calc(100% - 10px);
                // height: inherit;

                z-index: 1;
            }
        }

        &__FilterPanelBack {
            display: block;
            width: calc(100% - 300px);
            background-color: rgba(black, 0.5);
            // background-color: rgba(black, 0);
            animation: back 0.5s;
        }

        &__GoodsList {
            width: 100%;
        }
    }
}

@keyframes slide {
    from {
        position: absolute;
        left: -300px;
    }

    to {
        left: 10px;
    }
}

@keyframes back {
    from {
        width: 100%;
        background-color: rgba(black, 0);
    }

    to {
        width: calc(100% - 300px);
        background-color: rgba(black, 0.5);
    }
}
