.AccountPage {
    & {
        max-width: 1280px;
        margin: auto;
        padding: 10px 10px;
    }
    &__container {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}

@media (max-width: 900px) {
    .AccountPage {
        &__container {
            display: flex;
            flex-direction: column-reverse;
            gap: 20px;

            position: relative;
        }
    }
}
